body {
  background-color: #1a1a1a; 
  color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.App {
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  color: #96f2d7;
}

p {
  line-height: 1.5;
  text-align: center;
}

h3 img {
  width: 400px;
  display: block;
  margin: 0 auto; 
  border-radius: 200px;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.album {
  background-color: #262626;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  flex: 0 1 calc(33.33% - 20px);
  margin: 0;
  box-shadow: 0 0 0 1px #9553ff;
}

@media (max-width: 768px) {
  .album {
    flex: 0 1 calc(50% - 20px); 
  }
}

@media (max-width: 576px) {
  .album {
    flex: 0 1 100%;
  }
}

.album img {
  width: 100%;
  max-width: 300px;
}

.song {
  display: flex;
  margin: 10px 0;
}

.song button {
  background-color: #96f2d7;
  color: #1a1a1a;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

input, textarea {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #4c626e;
  background-color: #262626;
  color: #f2f2f2;
}

button[type="submit"] {
  background-color: #9553ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #6e32ff;
}

@media (max-width: 600px) {
  .album {
    flex: 1 1 100%;
  }
}